<div class='fixed'> <!-- go back button needs to be fixed in upper left corner, as part of header -->
  <button class='go-back' onclick='goBack()'>&lt;&lt; GO BACK</button>
</div>
<div>
  <h2 class='centered'>Audiobooks for <%= @category_object.class.to_s.upcase %> ===&gt;&gt;&gt; <%= @category_object.to_s %></h2>
  <ul style="list-style: none;">
    <% @category_object.audiobooks_by_title.values.each{ |audiobook| %>
      <li >
        <div class='centered'>
          <hr/>
          <table class="image">
            <tr><td align="left"><a href='<%= audiobook.url_librivox %>' target='_blank'>
                <img src='<%= audiobook.url_cover_art %>' alt="Cover art" height="144" width="144"></a></td></tr>
            <tr><td class="caption" align="left">
              <% if (!audiobook.readers.nil? && audiobook.readers.size == 1) %>
                <img src='/images/solo.png' alt="Solo work" title="Solo work" height="18" width="18">
              <% else %>
                <img src='/images/group.png' alt="Group work" title="Group work" height="18" width="18">
              <% end %>
              <a href='<%= audiobook.url_librivox %>' target='_blank'><%= audiobook.title %></a>
                -- by <%= audiobook.authors.nil? ? '???' : audiobook.authors.collect{|author| author.to_s }.join(', ') %>
            </td></tr>
          </table>
        </div>
      </li>
    <% } %>
  </ul>
</div>
