<h2 class='centered'>Welcome to Librivox Explorer WEB</h2>
<h3 class='centered'>Select a category below to begin exploring the Librivox Catalog!</h3><br><br>
<% (0..(ACCORDION_HASHES.size - 1)).each{ |i| %>
  <% if (@selected_category_index == i) %>
    <button class="accordion acc1"><%= ACCORDION_LABELS[i] %>S</button>
    <div class="panel" style="max-height:none">
    <% ACCORDION_HASHES[i].each{|accordion_label, category_object_array| %>
      <button class="accordion acc2"><span class="letter-label"><%=accordion_label%></span>
          <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              [<%= category_object_array.size %> <%= ACCORDION_LABELS[i].downcase %>s]</span>
      </button>
      <div class="panel" >
      <% category_object_array.each{|category_object| %>
        <form method="post" action="/audiobooks/<%= ACCORDION_CLASSES[i].to_s.downcase %>/<%= category_object.id %>">
          <button class="accordion acc3"><%= category_object.to_s %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              [<%= category_object.audiobooks.size %> audiobook<%= 's' if category_object.audiobooks.size > 1 %>]</button>
        </form>
      <% } %>
      </div>
    <% } %>
    </div>
  <% else # all categories which are NOT selected are presented just as form/button! %>
    <form method="post" action="/select/<%= i %>">
      <button class="accordion acc1"><%= ACCORDION_LABELS[i] %>S</button>
    </form>
  <% end # end of 'if (@selected_index == i)'%>
<% } %>
